.sidenav{
    width: 250px;
    background-color: #126aad;
    border-radius: 0px;
}

.main-content{
    background-color: #f4f4f4;
    padding: 20px;
}

.btn-sb {
    border: 0px;
    padding: 5px 5px 2px 5px;
    border-radius: 6px;
    background-color: white;
}

.btn-sb:hover{
    background-color: #126aad;
    color: white;
}

.app-title{
    padding: 20px;
    color: white;
}

.mat-toolbar{
    background-color: #279AF1;
    border-radius: 12px 12px 0px 0px;
    box-shadow:  1px 1px 3px 0px;
}

.listaDBNone {
    border-radius: 0px !important;
}

.listaDB{
    border-radius: 0px !important;
}

.listaDB:hover {

    border-radius: 0px !important;

}