.sidenav{
    width: 250px;
    background-color: #5f5f5f;
    border-radius: 0px;
}

.main-content{
    background-color: #f4f4f4;
    padding: 20px;
}
.app-title{
    padding: 20px;
}

.mat-toolbar{
    background-color: aquamarine;
}