.mat-card-actions{
    display: flex;
    justify-content: flex-end;
}
.mat-paginator{
    width: 100%;
}


.edit-btn{
    background-color: lightskyblue !important;
    color: #fff;
}

.delete-btn{
    background-color: red !important;
    color: #fff;
}

.mat-mdc-header-row{
    background-color: #5f5f5f;
    color: #fff;
}
.card-title{
    padding-bottom: 20px;
}

/*Clase de los botones de mat icon*/
.mat-mdc-unelevated-button > .mat-icon {
  /* ¡Importante! Establece tus valores deseados, a menudo 0 o auto. */
  margin-right: 0;
  margin-left: 0; 
}