.mat-card-actions{
    display: flex;
    justify-content: flex-end;
}
.mat-paginator{
    width: 100%;
}


.edit-btn{
    background-color: #279AF1 !important;
    color: #fff;
    margin: 6px;
    border-radius: 12px;
}

.edit-btn:hover{
    background-color: #126aad !important;
}

.delete-btn{
    background-color: #d83131 !important;
    color: #fff;
    border-radius: 12px;
}

.delete-btn:hover{
    background-color: #b32d2d !important;
}

.mat-mdc-header-row{
    background-color: #5f5f5f;
    color: #fff;
}
.card-title{
    padding-bottom: 20px;
}

/*Clase de los botones de mat icon*/
.mat-mdc-unelevated-button > .mat-icon {
  margin-right: 0;
  margin-left: 0; 
}

.mat-mdc-card {

    border-radius: 0 0 12px 12px;
    box-shadow:  1px 1px 3px 0px;
    background-color: #ececee;

}

.mat-mdc-paginator {

    background-color: #ececee;

}

.mat-mdc-header-row {
    background-color: #279AF1 !important;
}